body {
  font-family: "Poppins", sans-serif;
  color: #413960;
}

/* universal */
.make-green {
  color: #21b573;
}

.btn-green {
  background: #21b573;
  color: #ffffff;
}

.section-title {
  color: #413960;
}

/* header */
header {
  background: #f0fff0;
}

/* banner */
.banner-subheading {
  color: #fd511a;
}

/* statistics */
.statistics-card {
  background: #f8fffb;
  transition: all 0.5s ease;
}

.statistics-card:hover {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

/* footer */
footer a,
p,
h5 {
  font-size: 0.875rem;
}

footer small,
small > a {
  font-size: 0.675rem;
}
